
<%= form_for(@trip) do |f| %>
  <%# <%= f.error_notification %> 
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <!--%= f.association :user %!-->
    <!--%= f.input :origin %!-->
    <!--%= f.collection_select :origin, City.all, :name, :name %!-->
    <!--%= f.input :origin, :collection => City.all, include_blank: false %!-->
    <!--%= f.association :user %!-->
    <%= f.label :origin %>
    <%= f.collection_select :origin, City.all, :name,:name, prompt: false %>
    <%= f.label :destiny %>
    <%= f.collection_select :destiny, City.all, :name,:name, prompt: false %>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
    <%= f.label :start_time %>
    <%= f.time_select :start_time %>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
    <%= f.label :end_time %>
    <%= f.time_select :end_time %>
    <%= f.label :passcities %>
    <%= f.collection_select :passcities, City.all, :name,:name, prompt: false, multiple: true %>
   

  </div>
  </br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
