
<%= simple_form_for(@cost) do |f| %>
  
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <!--%= flash[:notice] = @distance.first.price%!-->

  <div class="form-inputs">
    <%= f.input :seat , input_html: { max: '3', :value => 1 } %>
    <%= f.input :cost, input_html: { :value => number_with_precision(@price, precision: 2), readonly: true,} %>
    
    <%= f.input :trip_id,:as => :hidden,  :input_html => { :value => @trip_id} %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <!--%= debug(@distance) %-->
<% end %>
